body {
  width: 300px;
  height: 300px;
  background: #000021;
  color: #fff;
  display: flex;
  justify-content: center;
}
p {
  display: inner-flex;
  margin: auto 10px;
  font-size: 22px;
  border-radius: 6px;
  border: 2px solid royalblue;
  padding: 10px;
}

.hero {
  max-width: 870px;
  margin: auto;
}

.hero__title {
  font-size: 4rem;
  font-family: "oswald", sans-serif;
  background-size: 200%;
  background-image: none;
  background-image: linear-gradient(
    45deg,
    #fff070 0%,
    #fff070 35%,
    #00c9d3 66%,
    #00c9d3 100%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-animation: glow 9s linear infinite;
  animation: glow 9s linear infinite;
}
.hero__cite {
  font-size: 2rem;
}

@-webkit-keyframes glow {
  0% {
    background-position: 0% 43%;
  }

  50% {
    background-position: 100% 58%;
  }

  100% {
    background-position: 0% 43%;
  }
}

@keyframes glow {
  0% {
    background-position: 0% 43%;
  }

  50% {
    background-position: 100% 58%;
  }

  100% {
    background-position: 0% 43%;
  }
}
